<section class="section-slide-show">
    <!--  SLIDESHOW -->
    <div class="slideshow">
      <div class="slideshow__slides fade">
        <img
            src="{{ section.settings.image | img_url: '1200x' }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="1200px"
          >
      </div>

      <div class="slideshow__slides fade">
        <img
            src="{{ section.settings.image2 | img_url: '1200x' }}"
            loading="lazy"
            alt="{{ section.settings.image2.alt | escape }}"
            width="1200px"
          >
      </div>

      <div class="slideshow__slides fade">
        <img
            src="{{ section.settings.image3 | img_url: '1200x' }}"
            loading="lazy"
            alt="{{ section.settings.image3.alt | escape }}"
            width="1200px"
          >
      </div>

      <!-- LINE BREAK -->
      <br />
    </div>
    <!-- THREE DOTS -->
    <div class="dots">
      <span class="dots__dot"></span>
      <span class="dots__dot"></span>
      <span class="dots__dot"></span>
    </div>
  </section>
    
    {% schema %}
      {
        "name": "Slider",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image Banner"
          },
          {
            "id": "image2",
            "type": "image_picker",
            "label": "Image Banner 2"
          },
          {
            "id": "image3",
            "type": "image_picker",
            "label": "Image Banner 3"
          }
        ],
        "presets": [
          {
            "name": "_Custom Slider",
            "category": "slider"
          }
        ]
      }
    {% endschema %}

    <script>
let slideIndex = 0;

function showSlides() {
  let slides = document.getElementsByClassName("slideshow__slides");
  let dots = document.getElementsByClassName("dots__dot");
  let i;

  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }

  slideIndex++;

  if (slideIndex > slides.length) {
    slideIndex = 1;
  }

  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }

  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += " active";

  setTimeout(showSlides, 3000); // Change image every 3 seconds
}

showSlides();
</script>